

  <main id="main">

    
<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container-fluid">

    <div class="row">
      <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch position-relative">
        <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox play-btn mb-4"></a>
      </div>

      <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
        <h3>Enim quis est voluptatibus aliquid consequatur fugiat</h3>
        <p>Our goal is to provide a compassionate professional environment to make your experience comfortable. Our staff is friendly, knowledgable and very helpful in addressing your health and financial concerns.</p>

        <div class="icon-box">
          <div class="icon"><i class="bx bx-fingerprint"></i></div>
          <h4 class="title"><a href="">More about Carewell Clinic</a></h4>
          <p class="description">Carewell Clinic is known for housing experienced Alternative Medicine Specialists. Dr.Shabana Parveen, a well-reputed Alternative Medicine Specialist, practices in Lucknow. Visit this medical health centre for Alternative Medicine Specialists recommended by 73 patients.</p>
        </div>

        <div class="icon-box">
          <div class="icon"><i class="bx bx-gift"></i></div>
          <h4 class="title"><a href="">Nemo Enim</a></h4>
          <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
        </div>

        <div class="icon-box">
          <div class="icon"><i class="bx bx-atom"></i></div>
          <h4 class="title"><a href="">Dine Pad</a></h4>
          <p class="description">Explicabo est voluptatum asperiores consequatur magnam. Et veritatis odit. Sunt aut deserunt minus aut eligendi omnis</p>
        </div>

      </div>
    </div>

  </div>
</section><!-- End About Section -->

  </main><!-- End #main -->

